* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: url("iliad_image.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

div {
    border: solid 2px;
    margin: 20px;
    color: beige;
    background-color: #8B6B4A;
}

a {
    text-decoration: none;
    color: #965023;
    font-weight: bold;
}

h1 {
    text-align:center;
  color: #5e4025;
    margin: 20px;
}

div.NavBar {
    border: 0;
    margin: 0;
    background-color: beige;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      color: #8B6B4A;
  text-decoration: none;
  transition: background 0.3s;

}

div.NavBar a:hover {
  color: maroon;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #965023;
  font-weight: bold;
}

a:hover {
  color: maroon;
  text-decoration: underline;
}

span.man {
  color: maroon;
  font-weight: bold;
}



h1 {
    padding: 30px;
    font-size: 50px;
}


div.view-banner {
    display: flex;
    border: none;
    margin: 0;
    background-color: transparent;
}

div.view-banner-titles {
    display: flex;
    border: none;
    margin: 0;   
    background: transparent;
}

div.view-banner-titles div {
  background-color: transparent;
    flex: 1;
    padding: 12px;
    border: none;
    text-align: center;
    text-decoration: none;
}

div.view-banner div {
  background-color: rgba(255, 255, 240, 0.9);
    flex: 1;
    padding: 12px;
    border: black solid 2px;
}

div.container {
    background-color: rgba(245, 245, 220, 0.85); 
}

p {
  color: #5e4025;
  font-size: 1.2rem;
    
}

h1.reading-view-h1 {
    color: beige;
}
