* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: url("iliad_image.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: beige;
  text-align: center;
  line-height: 1.6;
  font-family: Georgia, serif;
}

h1 {
  padding: 40px;
  font-size: 50px;
  color: beige;
  margin-bottom: 2rem;
}

div.NavBar {
    background-color: beige;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #8B6B4A;
    text-decoration: none;
    transition: background 0.3s
}

div.NavBar a:hover {
  color: maroon;
  text-decoration: underline;
}

body > div h1 {
  color: #965023;
  border-bottom: 2px solid #965023;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0;
}

ol {
  padding-left: 2rem;
}


